.btn {
    border-radius: 4px;
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
}

.btn.theme-toggle {
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
}

.btn.theme-toggle>svg {
    width: 1.5rem;
    height: 1.5rem;
}

.dark .sun {
    display: none;
}

.moon {
    display: none
}

.dark .moon {
    display: block;
}

.btn {
    color: #1d4ed8;
}